body {
  background-color: antiquewhite;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, button {
	margin: 5px;
}

.link{
  color: rgb(201, 23, 160);
  cursor: pointer; 
}

/*CSS for the homepage*/
.custom-link {
  color: #007bff; /* Change the color as desired */
  text-decoration: none; /* Remove underline */
  font-weight: bold;
  font-size: 20px; 
  margin: 0 30px; /*space them out between*/
}
.custom-link:hover {
  color: #0056b3; /* Change the color on hover */
  font-size: 27px;
}
.link-group {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Space out items evenly */
  flex-wrap: wrap;
}

.header{
  padding: 10px;
  text-align: center;
  background: rgb(84, 74, 50);
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin: 0;
  margin-bottom: 30px;
}

.bank {
  width: 500px;
  height: 500px;
  margin-bottom: 20px;
}


.balance {
  font-weight: bold;
  font-size: 20px;
}


/* Css for the Debits Page */
/*for the return to home button in debit page*/
.debit-return {
  background-color: rgb(144, 127, 86); /* Green */
  border: rgb(0, 0, 0);
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 3px rgb(84, 74, 50);
  bottom: 10px;
}
.debit-return:hover {
  background-color: rgb(84, 74, 50);
}
.debit-return:active {
  background-color: rgb(84, 74, 50);
  box-shadow: 0 0px;
  transform: translateY(4px);
}

/*for the debit page header*/
.debit-header{
  padding: 10px;
  text-align: center;
  background: rgb(84, 74, 50);
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin: 0;
  margin-bottom: 30px;
}

/*for displaying the credit and debit totals*/
p {
  font-weight: bold;
  font-size: 20px;
}

/*changing size for the debit amount bar*/
.debit-amount-bar {
  width: 15%;
  padding: 8px 15px;
  margin: 0 8px;
  box-sizing: border-box;
}

/*changing size for debit description bar*/
.debit-description-bar {
  width: 15%;
  padding: 8px 15px;
  margin: 0 8px;
  box-sizing: border-box;
}

/*changing button style for add debit*/
.add-debit {
  background-color: rgb(144, 127, 86); /* Green */
  border: rgb(0, 0, 0);
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  box-shadow: 0 3px #2f2c1e;
}
.add-debit:hover {
  background-color: rgb(104, 94, 70);
}
.add-debit:active {
  background-color: rgb(84, 74, 50);
  box-shadow: 0 0px;
  transform: translateY(4px);
}

/*removing the bullet points*/
ul {
  list-style-type: none;
}



/*Css for Credits page*/
/*chaning button style for credit return home button*/
.credit-return {
  background-color: rgb(144, 127, 86); /* Green */
  border: rgb(0, 0, 0);
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 3px rgb(84, 74, 50);
  bottom: 10px;
}
.credit-return:hover {
  background-color: rgb(84, 74, 50);
}
.credit-return:active {
  background-color: rgb(84, 74, 50);
  box-shadow: 0 0px;
  transform: translateY(4px);
}

.credit-header{
  padding: 10px;
  text-align: center;
  background: rgb(84, 74, 50);
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin: 0;
  margin-bottom: 30px;
}

/*changing size for the credit amount bar*/
.credit-amount-bar {
  width: 15%;
  padding: 8px 15px;
  margin: 0 8px;
  box-sizing: border-box;
}

/*changing size for credit description bar*/
.credit-description-bar {
  width: 15%;
  padding: 8px 15px;
  margin: 0 8px;
  box-sizing: border-box;
}

/*changing button style for add credit*/
.add-credit {
  background-color: rgb(144, 127, 86); /* Green */
  border: rgb(0, 0, 0);
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  box-shadow: 0 3px #2f2c1e;
}
.add-credit:hover {
  background-color: rgb(104, 94, 70);
}
.add-credit:active {
  background-color: rgb(84, 74, 50);
  box-shadow: 0 0px;
  transform: translateY(4px);
}

.credit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credit-header {
  width: 60%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.credit-content {
  width: 80%;
  display: flex;
}

.credit-form {
  width: 30%;
  margin-right: 20px;
}

.credit-form input,
.credit-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.credit-list {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.credit-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.credit-info {
  display: flex;
  justify-content: space-between;
}

.credit-amount {
  font-weight: bold;
}

.credit-description {
  text-align: center;
}

.credit-time {
  font-size: 12px;
}

.return-home {
  margin-top: 20px;
}

.credit-total {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
